/* common shared styles */
body{
 font-family: "Poppins", sans-serif;

}

.container{
max-width: 1280px;
margin: 0 auto;
}
.panda-btn{
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    color: white;
    font-weight: 500;
    border: none;
    padding: 15px 28px;
    border-radius: 10px;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
}
nav ul {
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: #707070;
    font-weight: 500;
}
.nav-item{
    position: relative;
}
.nav-item input{
border-radius: 66px;
background: rgb(241, 241, 241);
padding: 15px 30px;
width: 300px;
border: 0;
color: #CCCCCC;
font-weight: 500;
}
.nav-item i{
    position: absolute;
    top: 18px;
    right: 15px;
    color: #BABABA;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FEEAE9;
    margin-top: 60px;
    border-radius: 10px;
    padding: 30px;
}
.banner img{
    width: 402px;
height: 378px;
}
.banner h2{
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 0;
}
.banner p {
   color: #4E4E4E;
   width: 500px;
   margin-top: 5px;
   margin-bottom: 0;
   
}
#banner-price{
color: #FF136F;
font-weight: 500;
font-size: 41px;
}


/* categories styles */
.categories-section h2{
    font-weight: 600;
    font-size: 36px;
}

.categories-container{
    display: flex;
    gap: 26px;
}
.category-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
    border-radius: 10px;
    padding: 30px;
    flex: 1;
}
.category-card:nth-child(1){
     background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
}
.category-card:nth-child(2){
     background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}
.category-card:nth-child(3){
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}
.category-card img{
    width: 80px;
    height: 90px;
}
/* shoes and backpack related styles */
.shoes-backpack-section{
    background: #F4F4F4;
}
.shoes-section h4{
font-weight: 600;
font-size: 36px;
margin-bottom: 0;
}
.shoes-container{
    display: flex;
    gap: 20px;
}
.shoes-card{
padding: 26px;
text-align: center;
background: white;
border-radius: 10px;
}
.shoes-card h4{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
}
.shoes-card p{
    color: #4E4E4E;
}
.shoes-card img{
    width: 336px;
height: 202px;
}
#shoes-price{
    color: black;
    font-weight: 500;
    font-size: 26px;
}
.shoes-card .panda-btn{
    background: black;
}
/* responsive styles for mobile device*/
@media screen and (max-width:576px){
    nav, .banner , .categories-container , .shoes-container{
        flex-direction: column;
        text-align: center;
    }
    nav ul li{
        margin-right: 20px;
    }
    .nav-item input{
        width: 300px;
        right: 10px;
    }
    .banner h2{
        font-size: 40PX;
    }
    .banner p{
        width: 100%;

    }
    .banner img{
        width: 100%;
    }

}

/* responsive styles for  */
@media screen and (min-width:576px) and (max-width:992px){
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner h2{
        font-size: 40px;

    }
    .banner p{
        width: 400px;
    }
    .shoes-card img{
        width: 100%;
    }
}
